<span style='color: #000'>252 frames</span>	<span style='color: #900'>8,960 KB</span>	<span style='color: #090'>503.31 ms</span>	<span style='color: #009' title='Quirksmode'><span style='color: #c00'>ON</span></span><br />